{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Repository !</h1>
            <h3>Name: {{ repo.name }}</h3>
            <p>Description: {{ repo.description ?? 'No description' }}</p>
</div>
{% endblock %}
